.feedMain {
  overflow: hidden;
}

.feedBody {
  padding-top: 15px;
  padding-left: 5%;
  padding-right: 5%;
}

.mainRssView {
  overflow: hidden;
   width: 100%;
   min-height: calc(100vh - 148px);
 }
