canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.chart-container {
  height: 260px;
  width: 100%;
  min-width: 400px;
}

.mainChartView {
 overflow: hidden;
  width: 100%;
  min-height: calc(100vh - 148px);
}
