.twitterPage {
  min-height: 500px;
  padding: 5%;
}

.twitterView {
  min-height: calc(100vh - 148px);
  width: 100%;
}

.full-width {
  width: 100%;
}

.userScreenName {
  color: gray;
  font-size: 17px;
  font-weight: 100;
}
