
.mainView {
  min-height: 600px;
  width: 100%;
  padding-bottom: 25px;
  height: -webkit-fill-available;
}

.main-card {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 25px;
}


.mainYoutubeView {
  overflow: hidden;
   width: 100%;
   min-height: calc(100vh - 148px);
 }
