<div class="licenseView">
  <div class="licensePage">
    <section class="licenseSection">
      <h2>General Usage Disclaimer</h2>
      <p>Don't sue me, all the stuff I own sucks.</p>
      <p>
        Try not to use my content, or knowledge gained from my content, for
        evil.
      </p>
    </section>
    <mat-divider></mat-divider>
    <section class="licenseSection">
      <h2>Photography and Image Usage</h2>
      <p>
        All photographs and images on this site were created by Jesse Carlberg.
        You can use any of the photographs on this site for whatever you want. I
        don't really care, but don't use direct links to my site. I ain't paying
        for your web traffic and will probably change the URL if you do this out
        of spite. If you want to print any of the images just hit me up and I'll
        give you access to the larger files so they print nicer. If you make
        money off my photography, I only ask you spend some of the profits on
        candy.
      </p>
    </section>
    <mat-divider></mat-divider>
    <section class="licenseSection">
      <h2>The MIT License</h2>
      <p>
        Permission is hereby granted, free of charge, to any person obtaining a
        copy of this software and associated documentation files (the
        "Software"), to deal in the Software without restriction, including
        without limitation the rights to use, copy, modify, merge, publish,
        distribute, sublicense, and/or sell copies of the Software, and to
        permit persons to whom the Software is furnished to do so, subject to
        the following conditions:
      </p>
      <p>
        The above copyright notice and this permission notice shall be included
        in all copies or substantial portions of the Software.
      </p>
      <p>
        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
        OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
        MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
        IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
        CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
        TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
        SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
      </p>
    </section>
    <mat-divider></mat-divider>
    <section class="licenseSection">
      <h2>Consulting Disclaimer</h2>
      <p>
        Because of my securities industry licenses and employment at a broker
        dealer I am unable to do any consulting in any financial sector. Any and
        all content contained in this site has not been reviewed by or approved by
        any governing body or principal supervisor. Jesse Carlberg is the sole
        creator of content on this site and its contents has not been reviewed.
        by any current or previous employer.
      </p>
    </section>
    <mat-divider></mat-divider>
    <section class="licenseSection">
      <h2>No Investment Advice</h2>
      <p>
        The Content is for informational purposes only, you should not construe
        any such information or other material as legal, tax, investment,
        financial, or other advice. Nothing contained on our Site constitutes a
        solicitation, recommendation, endorsement, or offer by Jesse Carlberg or
        any third party service provider to buy or sell any securities or other
        financial instruments in this or in in any other jurisdiction in which
        such solicitation or offer would be unlawful under the securities laws
        of such jurisdiction.
      </p>
      <p>
        All Content on this site is information of a general nature and does not
        address the circumstances of any particular individual or entity.
        Nothing in the Site constitutes professional and/or financial advice,
        nor does any information on the Site constitute a comprehensive or
        complete statement of the matters discussed or the law relating thereto.
        Jesse Carlberg is not a fiduciary by virtue of any person’s use of or
        access to the Site or Content. You alone assume the sole responsibility
        of evaluating the merits and risks associated with the use of any
        information or other Content on the Site before making any decisions
        based on such information or other Content. In exchange for using the
        Site, you agree not to hold Jesse Carlberg, its affiliates or any third
        party service provider liable for any possible claim for damages arising
        from any decision you make based on information or other Content made
        available to you through the Site.
      </p>
    </section>
    <mat-divider></mat-divider>
    <section class="licenseSection">
      <h2>Third Party Linked Sites</h2>
      <p>
        As a convenience to you, Jesse Carlberg may provide hyperlinks to web
        sites operated by third parties. When you select these hyperlinks you
        will be leaving the Jesse Carlberg site. Because Jesse Carlberg has no
        control over such sites or their content, Jesse Carlberg is not
        responsible for the availability of such external sites or their
        content, and Jesse Carlberg does not adopt, endorse or nor is
        responsible or liable for any such sites or content, including
        advertising, products or other materials, on or available through such
        sites or resources. Other web sites may provide links to the Site or
        Content with or without our authorization. Jesse Carlberg does not
        endorse such sites and shall not be responsible or liable for any links
        from those sites to the Site or Content, or for any content,
        advertising, products or other materials available on or through such
        other sites, or any loss or damages incurred in connection therewith.
        Jesse Carlberg may, in its sole discretion, block links to the Site and
        Content without prior notice.
      </p>
      <p>
        YOUR USE OF THIRD PARTY WEB SITES AND CONTENT, INCLUDING WITHOUT
        LIMITATION, YOUR USE OF ANY INFORMATION, DATA, ADVERTISING, PRODUCTS, OR
        OTHER MATERIALS ON OR AVAILABLE THROUGH SUCH WEB SITES, IS AT YOUR OWN
        RISK AND IS SUBJECT TO THEIR TERMS OF USE.
      </p>
    </section>
  </div>
</div>
