.azMainPage {
  overflow: hidden;
  min-height: 400px;
}


.azPhotoForm {
  margin: 5%;
}

#uploadFile {
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9;
  opacity: 0;
  height: 100%;
  cursor: pointer;
  position: absolute;
}


.codeDisp {
  margin: 25px;
  width: 80%;
}

.imgSection {
  margin: 25px;
}

.azHeader {
  margin: 5%;
}
