/*  helvetica neue */


/*@import url("http://fast.fonts.com/t/1.css?apiType=css&projectid=f9e90bff-f709-469f-8ed2-9051d680a6e9");*/
@font-face{
font-family:"HelveticaNeueW01-45Ligh";
src:url("../fonts/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?iefix") format("eot");}
@font-face{
font-family:"HelveticaNeueW01-45Ligh";
src:url("../fonts/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?iefix");
src:url("../fonts/530dee22-e3c1-4e9f-bf62-c31d510d9656.woff") format("woff"),url("../fonts/688ab72b-4deb-4e15-a088-89166978d469.ttf") format("truetype"),url("../fonts/7816f72f-f47e-4715-8cd7-960e3723846a.svg#7816f72f-f47e-4715-8cd7-960e3723846a") format("svg");
}
@font-face{
font-family:"HelveticaNeueW01-55Roma";
src:url("../fonts/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?iefix") format("eot");}
@font-face{
font-family:"HelveticaNeueW01-55Roma";
src:url("../fonts/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?iefix");
src:url("../fonts/bcf54343-d033-41ee-bbd7-2b77df3fe7ba.woff") format("woff"),url("../fonts/b0ffdcf0-26da-47fd-8485-20e4a40d4b7d.ttf") format("truetype"),url("../fonts/da09f1f1-062a-45af-86e1-2bbdb3dd94f9.svg#da09f1f1-062a-45af-86e1-2bbdb3dd94f9") format("svg");
}   
@font-face{
font-family:"HelveticaNeueW01-65Medi";
src:url("../fonts/07fe0fec-b63f-4963-8ee1-535528b67fdb.eot?iefix") format("eot");}
@font-face{
font-family:"HelveticaNeueW01-65Medi";
src:url("../fonts/07fe0fec-b63f-4963-8ee1-535528b67fdb.eot?iefix");
src:url("../fonts/60be5c39-863e-40cb-9434-6ebafb62ab2b.woff") format("woff"),url("../fonts/4c6503c9-859b-4d3b-a1d5-2d42e1222415.ttf") format("truetype"),url("../fonts/36c182c6-ef98-4021-9b0d-d63122c2bbf5.svg#36c182c6-ef98-4021-9b0d-d63122c2bbf5") format("svg");
}
@font-face{
font-family:"HelveticaNeueW01-75Bold";
src:url("../fonts/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?iefix") format("eot");}
@font-face{
font-family:"HelveticaNeueW01-75Bold";
src:url("../fonts/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?iefix");
src:url("../fonts/14ff6081-326d-4dae-b778-d7afa66166fc.woff") format("woff"),url("../fonts/8fda1e47-19be-46c7-8d83-8d4fb35572f0.ttf") format("truetype"),url("../fonts/f751c8ae-1057-46d9-8d74-62592e002568.svg#f751c8ae-1057-46d9-8d74-62592e002568") format("svg");
}
@font-face{
font-family:"HelveticaNeueW01-95Blac";
src:url("../fonts/b26ccb58-f2e3-47aa-a83a-02861bf54862.eot?iefix") format("eot");}
@font-face{
font-family:"HelveticaNeueW01-95Blac";
src:url("../fonts/b26ccb58-f2e3-47aa-a83a-02861bf54862.eot?iefix");
src:url("../fonts/74649485-cd74-443e-9d54-331ccd448900.woff") format("woff"),url("../fonts/feb77f4f-9e6b-4f88-909a-66199fd402ed.ttf") format("truetype"),url("../fonts/2e490192-e531-4236-9c55-90daaad4a34e.svg#2e490192-e531-4236-9c55-90daaad4a34e") format("svg");
}


/*--------------- Icomoon ---------------*/

@font-face {
    font-family: 'q4icons';
    src: url('https://s3.amazonaws.com/icomoon.io/50912/Q4DefaultIconsv11/q4icons.eot?ic2lhs');
    src: url('https://s3.amazonaws.com/icomoon.io/50912/Q4DefaultIconsv11/q4icons.eot?ic2lhs#iefix') format('embedded-opentype'), url('https://s3.amazonaws.com/icomoon.io/50912/Q4DefaultIconsv11/q4icons.woff2?ic2lhs') format('woff2'), url('https://s3.amazonaws.com/icomoon.io/50912/Q4DefaultIconsv11/q4icons.ttf?ic2lhs') format('truetype'), url('https://s3.amazonaws.com/icomoon.io/50912/Q4DefaultIconsv11/q4icons.woff?ic2lhs') format('woff'), url('https://s3.amazonaws.com/icomoon.io/50912/Q4DefaultIconsv11/q4icons.svg?ic2lhs#q4icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="q4i-"]:before,
[class*=" q4i-"]:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'q4icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.q4i-circle:before {
    content: "\e907";
}

.q4i-block-logo:before {
    content: "\e900";
}

.q4i-logo:before {
    content: "\e901";
}

.q4i-download:before {
    content: "\e670";
}

.q4i-block-checkmark:before {
    content: "\e600";
}

.q4i-block-downchevron:before {
    content: "\e601";
}

.q4i-block-exit:before {
    content: "\e602";
}

.q4i-block-leftchevron:before {
    content: "\e603";
}

.q4i-block-minus:before {
    content: "\e604";
}

.q4i-block-plus:before {
    content: "\e605";
}

.q4i-block-rightchevron:before {
    content: "\e606";
}

.q4i-block-upchevron:before {
    content: "\e607";
}

.q4i-circle-leftchevron:before {
    content: "\e671";
}

.q4i-circle-rightchevron:before {
    content: "\e672";
}

.q4i-circle-upchevron:before {
    content: "\e673";
}

.q4i-circle-downchevron:before {
    content: "\e674";
}

.q4i-circle-alert:before {
    content: "\e608";
}

.q4i-circle-calendar:before {
    content: "\e609";
}

.q4i-circle-chair:before {
    content: "\e60a";
}

.q4i-circle-chat:before {
    content: "\e60b";
}

.q4i-circle-doc:before {
    content: "\e60c";
}

.q4i-circle-email:before {
    content: "\e60d";
}

.q4i-circle-expert:before {
    content: "\e60e";
}

.q4i-circle-facebook:before {
    content: "\e60f";
}

.q4i-circle-flickr:before {
    content: "\e610";
}

.q4i-circle-googleplus:before {
    content: "\e611";
}

.q4i-circle-html:before {
    content: "\e612";
}

.q4i-circle-independant:before {
    content: "\e613";
}

.q4i-circle-instagram:before {
    content: "\e614";
}

.q4i-circle-link:before {
    content: "\e615";
}

.q4i-circle-linkedIn:before {
    content: "\e616";
}

.q4i-circle-menu:before {
    content: "\e617";
}

.q4i-circle-minus:before {
    content: "\e618";
}

.q4i-circle-phone:before {
    content: "\e619";
}

.q4i-circle-pinterest:before {
    content: "\e61a";
}

.q4i-circle-plus:before {
    content: "\e61b";
}

.q4i-circle-print:before {
    content: "\e61c";
}

.q4i-circle-recording:before {
    content: "\e61d";
}

.q4i-circle-rss:before {
    content: "\e61e";
}

.q4i-circle-search:before {
    content: "\e61f";
}

.q4i-circle-share:before {
    content: "\e620";
}

.q4i-circle-twitter:before {
    content: "\e621";
}

.q4i-circle-video:before {
    content: "\e622";
}

.q4i-circle-youtube:before {
    content: "\e623";
}

.q4i-doc-calendar:before {
    content: "\e624";
}

.q4i-doc-chart:before {
    content: "\e625";
}

.q4i-doc-download:before {
    content: "\e626";
}

.q4i-doc-graph:before {
    content: "\e627";
}

.q4i-doc-html:before {
    content: "\e628";
}

.q4i-doc-link:before {
    content: "\e629";
}

.q4i-doc-pdf:before {
    content: "\e62a";
}

.q4i-doc-presentation:before {
    content: "\e62b";
}

.q4i-doc-webcast:before {
    content: "\e62c";
}

.q4i-doc-word:before {
    content: "\e62d";
}

.q4i-doc-zip:before {
    content: "\e62e";
}

.q4i-icon-alert:before {
    content: "\e62f";
}

.q4i-icon-apple:before {
    content: "\e908";
}

.q4i-icon-outlook:before {
    content: "\e909";
}

.q4i-icon-google:before {
    content: "\e90a";
}

.q4i-icon-calendar:before {
    content: "\e630";
}

.q4i-icon-chat:before {
    content: "\e631";
}

.q4i-icon-doc:before {
    content: "\e632";
}

.q4i-icon-email:before {
    content: "\e633";
}

.q4i-icon-expert:before {
    content: "\e634";
}

.q4i-icon-pdf:before {
    content: "\e902";
}

.q4i-icon-html:before {
    content: "\e638";
}

.q4i-icon-presentation:before {
    content: "\e90c";
}

.q4i-icon-download:before {
    content: "\e90d";
}

.q4i-icon-graph:before {
    content: "\e90b";
}

.q4i-icon-facebook:before {
    content: "\e635";
}

.q4i-icon-flickr:before {
    content: "\e636";
}

.q4i-icon-googleplus:before {
    content: "\e637";
}

.q4i-icon-independant:before {
    content: "\e639";
}

.q4i-icon-instagram:before {
    content: "\e63a";
}

.q4i-icon-link:before {
    content: "\e63b";
}

.q4i-icon-linkedIn:before {
    content: "\e63c";
}

.q4i-icon-member:before {
    content: "\e63d";
}

.q4i-icon-menu:before {
    content: "\e63e";
}

.q4i-icon-phone:before {
    content: "\e63f";
}

.q4i-icon-pinterest:before {
    content: "\e640";
}

.q4i-icon-print:before {
    content: "\e641";
}

.q4i-icon-rss:before {
    content: "\e642";
}

.q4i-icon-search:before {
    content: "\e643";
}

.q4i-icon-share:before {
    content: "\e644";
}

.q4i-icon-twitter:before {
    content: "\e645";
}

.q4i-icon-video:before {
    content: "\e646";
}

.q4i-icon-webcast:before {
    content: "\e647";
}

.q4i-icon-youtube:before {
    content: "\e648";
}

.q4i-square-scoopit:before {
    content: "\e90e";
}

.q4i-rounded-checkmark:before {
    content: "\e649";
}

.q4i-rounded-exit:before {
    content: "\e64b";
}

.q4i-rounded-minus:before {
    content: "\e64d";
}

.q4i-rounded-plus:before {
    content: "\e64e";
}

.q4i-rounded-downchevon:before {
    content: "\e64a";
}

.q4i-rounded-upchevon:before {
    content: "\e650";
}

.q4i-rounded-leftchevon:before {
    content: "\e64c";
}

.q4i-rounded-rightchevon:before {
    content: "\e64f";
}

.q4i-rounded-downclaret:before {
    content: "\e903";
}

.q4i-rounded-upclaret:before {
    content: "\e904";
}

.q4i-rounded-leftclaret:before {
    content: "\e905";
}

.q4i-rounded-rightclaret:before {
    content: "\e906";
}

.q4i-square-calendar:before {
    content: "\e651";
}

.q4i-square-chat:before {
    content: "\e652";
}

.q4i-square-doc:before {
    content: "\e653";
}

.q4i-square-email:before {
    content: "\e654";
}

.q4i-square-facebook:before {
    content: "\e655";
}

.q4i-square-flickr:before {
    content: "\e656";
}

.q4i-square-googleplus:before {
    content: "\e657";
}

.q4i-square-html:before {
    content: "\e658";
}

.q4i-square-instagram:before {
    content: "\e659";
}

.q4i-square-link:before {
    content: "\e65a";
}

.q4i-square-linkedin:before {
    content: "\e65b";
}

.q4i-square-menu:before {
    content: "\e65c";
}

.q4i-square-microphone:before {
    content: "\e65d";
}

.q4i-square-notification:before {
    content: "\e65e";
}

.q4i-square-phone:before {
    content: "\e65f";
}

.q4i-square-pinterest:before {
    content: "\e660";
}

.q4i-square-print:before {
    content: "\e661";
}

.q4i-square-rss:before {
    content: "\e662";
}

.q4i-square-search:before {
    content: "\e663";
}

.q4i-square-share:before {
    content: "\e664";
}

.q4i-square-twitter:before {
    content: "\e665";
}

.q4i-square-video:before {
    content: "\e666";
}

.q4i-square-youtube:before {
    content: "\e667";
}

.q4i-txt-doc:before {
    content: "\e668";
}

.q4i-txt-flv:before {
    content: "\e669";
}

.q4i-txt-html:before {
    content: "\e66a";
}

.q4i-txt-pdf:before {
    content: "\e66b";
}

.q4i-txt-rtf:before {
    content: "\e66c";
}

.q4i-txt-xbrl:before {
    content: "\e66d";
}

.q4i-txt-xls:before {
    content: "\e66e";
}

.q4i-txt-zip:before {
    content: "\e66f";
}

.PageBlogDetails .blog-item .blog-title a {
    font-family: 'HelveticaNeueW01-65Medi',Arial,sans-serif;
    color: #333;
    text-decoration: none;
    font-size: 38px;
    line-height: 40px;
}

.PageBlogDetails .blog-item .blog-title {
    margin: 0;
}
.ModulePressReleaseDetails > .category {
    height: 0px;
    font-size: 0px;
}