<div class="consultingMain">
  <section class="m-hero-item">
    <h2 class="c-heading-2">Development</h2>
    <mat-grid-list
      #cDevGrid
      [cols]="cols"
      [rowHeight]="rowheight"
      gutterSize="20px"
    >
      <mat-grid-tile>
        <mat-grid-tile-header> Web Dev </mat-grid-tile-header>
        <img
          class="portfolio-img"
          mat-card-image
          src="../../../assets/monacoeditor.png"
          alt="Web Dev"
      /></mat-grid-tile>
      <mat-grid-tile>
        <div class="consultingCard">
          <h2>Make a Web App</h2>
          <p>
            <span class="graybold">Need something built</span> from scratch? Got
            a website but need it to do more? Let me give it a look and see what
            I can do for you. There is no one solution fits all when it comes to
            making a tool for your business. That's the difference,
            <span class="graybold">get what you want</span> not what a drag and
            drop website generator wants you to have.
          </p>
          <p>
            <button mat-button color="accent" routerLink="/contact">
              Build me something
            </button>
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </section>

  <section class="m-hero-item">
    <h2 class="c-heading-2">Consulting</h2>
    <mat-grid-list
      #cConGrid
      [cols]="cols"
      [rowHeight]="rowheight"
      gutterSize="20px"
    >
      <mat-grid-tile>
        <mat-card class="portfolio-card mat-card-none">
          <mat-card-header>
            <mat-card-title>From the start</mat-card-title>
            <mat-card-subtitle>Start up your Start-Up</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              <span class="graybold">Got an app idea?</span> Let's make it a
              reality. Most of my professional career has been sitting next to
              people asking them what the worst part of their job is. Then
              taking that insight and automating away the monotony to get them
              back to the value they add to the process.
              <span class="graybold">Humans over robots!</span>
            </p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-grid-tile-header> End-to-End </mat-grid-tile-header>
        <img
          class="portfolio-img"
          mat-card-image
          src="../../../assets/babycode.jpg"
          alt="Baby Code"
      /></mat-grid-tile>
      <mat-grid-tile>
        <mat-grid-tile-header> User Testing </mat-grid-tile-header>
        <img
          class="portfolio-img"
          mat-card-image
          src="../../../assets/headphonejesse.jpg"
          alt="Jesse User"
      /></mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="portfolio-card mat-card-none">
          <mat-card-header>
            <mat-card-title>Becoming a user</mat-card-title>
            <mat-card-subtitle>Agile Development</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              So, here's how this works, I build what you want. You try it out
              and tell me what you hate or what could be better. Using an app is
              honestly the best way to find better ways to use it. I take that
              feedback and fix it all up till you get what you want. I'm in this
              with you.
            </p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="portfolio-card mat-card-none">
          <mat-card-header>
            <mat-card-title>Testing</mat-card-title>
            <mat-card-subtitle>It should just work</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              Having enterprise development at a Fortune 500 company has taught
              me things need to be testable. Please don't tell QA/QI people I
              said this, Devs have an image to keep up. But I want to ensure you
              can take my code to another firm (not that you would ever quit
              me!) and they can add/update/fix it without breaking anything
              else.
            </p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-grid-tile-header> Taste Testing </mat-grid-tile-header>
        <img
          class="portfolio-img"
          mat-card-image
          src="../../../assets/crazytank.jpg"
          alt="Tank Jesse"
      /></mat-grid-tile>

      <mat-grid-tile>
        <mat-grid-tile-header> Generating Content </mat-grid-tile-header>
        <img
          class="portfolio-img"
          mat-card-image
          src="../../../assets/camera.jpg"
          alt="Camera"
      /></mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="portfolio-card mat-card-none">
          <mat-card-header>
            <mat-card-title>Keeping things current</mat-card-title>
            <mat-card-subtitle>Producing content</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              Single page apps are the bomb. One site, easy to navigate, with
              all the info a user needs. If you start adding in clicks, you
              gotta keep adding content. Creating content is half the battle,
              publishing it to your website is the other. Using custom built
              interfaces, separate Admin websites, or even third-party API's to
              bring in your content from sites like Medium or Instagram, I can
              keep it fresh.
            </p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class="portfolio-card mat-card-none">
          <mat-card-header>
            <mat-card-title>E-Comerce</mat-card-title>
            <mat-card-subtitle>Selling stuff online</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              Sling your wares on the internet. I'm actually in the process of
              setting this up for my photography business. So, check back with
              me on this one when I have working examples.
            </p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-grid-tile-header> Safe Web Transactions </mat-grid-tile-header>
        <img
          class="portfolio-img"
          mat-card-image
          src="../../../assets/JES03280.jpg"
          alt="Improvaganza"
      /></mat-grid-tile>
    </mat-grid-list>
  </section>
</div>
