<div class="resume">
  <div fxLayout="row">
    <div fxFlex>
      <div class="mainResume">
        <div class="titleSection">
          <h1>Jesse Carlberg</h1>
          <h3>Senior Software Developer</h3>
          <p *ngIf="!showSide">
            <button mat-raised-button color="primary" routerLink="/contact">
              Contact Me
            </button>
          </p>
        </div>

        <div class="experienceSection">
          <h2>Professional Experience</h2>
          <mat-divider></mat-divider>
          <div class="experenceList">
            <div class="jobSection">
              <div class="jobTitle">Manager - Software Development & Engineering</div>
              <div class="jobTime">
                Charles Schwab - Omaha, NE - June 20121 to Present
              </div>
              <div class="jobInfo">
                <div class="jobLineItem">
                  In a Developer 4 role working in the technology department to provide automated solutions using Java, Angular, SQL, and Oracle DB. Currently working in the Spring framework using tools like maven, gradle, and hibernate to name a few.
                </div>
                <div class="jobLineItem">
                  Using Java, Spring, Oracle DB, RabbitMQ, and Pivotal Cloud Foundry (PCF).
                </div>
              </div>
            </div>
            <div class="jobSection">
              <div class="jobTitle">Owner - Software Development</div>
              <div class="jobTime">
                Jesse Carlberg Production - Bellevue, NE - Jan. 2021 to Present
              </div>
              <div class="jobInfo">
                <div class="jobLineItem">
                  Independent contractor.
                </div>
                <div class="jobLineItem">
                  Specializing in data architecture, ETL's, API management, and web design.
                </div>
                <div class="jobLineItem">
                  Using Azure Services, C#, .Net, ASP.Net Core, Java, Identity Auth.
                </div>
                <div class="jobLineItem">
                  Currently using: Azure SQL Server, Microsoft SQL, Mongo DB, .Net Core.
                </div>
              </div>
            </div>
            <div class="jobSection">
              <div class="jobTitle">Sr. Software Engineer</div>
              <div class="jobTime">
                ThinkTech TD Ameritrade - Omaha, NE - Jan. 2019 to June 2021
              </div>
              <div class="jobInfo">
                <div class="jobLineItem">
                  Stock Lending application and support.
                </div>
                <div class="jobLineItem">
                  Real-time high performance trading infrastructure.
                </div>
                <div class="jobLineItem">
                  Using Java, Dojo.js, Maven, Oracle DB, and Spring.
                </div>
              </div>
            </div>
            <div class="jobSection">
              <div class="jobTitle">Sr. Developer</div>
              <div class="jobTime">
                TD Ameritrade - Omaha, NE – Jan. 2017 to Jan. 2019
              </div>
              <div class="jobInfo">
                <div class="jobLineItem">
                  Created 20+ applications for Retail/Investor Services,
                  including the most used internal Business Technology
                  application, TDA Branches.
                </div>
                <div class="jobLineItem">
                  Automated Salesforce cases using Natural Language Processing
                  and Salesforce API.
                </div>
                <div class="jobLineItem">
                  Created over 50 ETLs to move data to TD Ameritrade from
                  companies like: Live Engage, Accruint, Fitbit, Trans Union,
                  etc.
                </div>
              </div>
            </div>
            <div class="jobSection">
              <div class="jobTitle">
                Sr. Analyst, Data & Implementation Specialist
              </div>
              <div class="jobTime">
                TD Ameritrade - Omaha, NE – Oct. 2015 to Jan. 2017
              </div>
              <div class="jobInfo">
                <div class="jobLineItem">
                  Full Stack development. Building complete solutions from
                  beginning to end.
                </div>
                <div class="jobLineItem">
                  Creating data marts and API’s for the firm to use.
                </div>
                <div class="jobLineItem">
                  Department expert in: Angular Js, API’s, and web development.
                </div>
              </div>
            </div>
            <div class="jobSection">
              <div class="jobTitle">Risk Analyst</div>
              <div class="jobTime">
                TD Ameritrade - Omaha, NE – Aug. 2014 to Oct. 2015
              </div>
              <div class="jobInfo">
                <div class="jobLineItem">
                  Build the Platform-as-a-Service ecosystem for the firm.
                  Complete full stack development environment to train
                  developers on all aspects of application development.
                </div>
                <div class="jobLineItem">
                  Database administration for the firm. Create and maintain
                  automated ETL jobs for the business.
                </div>
              </div>
            </div>
            <div class="jobSection">
              <div class="jobTitle">System Administrator</div>
              <div class="jobTime">
                TD Ameritrade - Omaha, NE – Aug. 2013 to Aug. 2014
              </div>
              <div class="jobInfo">
                <div class="jobLineItem">
                  Maintain all current business technology solutions used by
                  five departments at TD Ameritrade: Cage, Corporate Actions,
                  Settlements, Operations Strategy, and Payment Services.
                </div>
                <div class="jobLineItem">
                  Develop new software applications based on business need.
                  Gather all business requirements for new software and
                  enhancements to existing products.
                </div>
              </div>
            </div>
            <div class="jobSection">
              <div class="jobTitle">Senior Systems Analyst</div>
              <div class="jobTime">
                TD Ameritrade - Omaha, NE – Jul. 2012 to Aug. 2013
              </div>
              <div class="jobInfo">
                <div class="jobLineItem">
                  Manage and support all of Brokerage Operations core systems.
                </div>
              </div>
            </div>

            <div class="jobSection">
              <div class="jobTitle">Futures/Forex Broker</div>
              <div class="jobTime">
                TD Ameritrade - Omaha, NE - Jan. 2010 to Jul. 2012
              </div>
              <div class="jobInfo">
                <div class="jobLineItem">
                  Trade desk at TD Ameritrade. Provide trade support for:
                  complex options, Futures, and Forex trading.
                </div>
              </div>
            </div>

            <div class="jobSection">
              <div class="jobTitle">Cardiac Arrhythmia Technologist</div>
              <div class="jobTime">
                Nebraska Medical Center - Omaha, NE - Dec. 2003 to Nov. 2011
              </div>
              <div class="jobInfo">
                <div class="jobLineItem">
                  Provide interpretations of electrocardiograms (ECG).
                </div>
              </div>
            </div>

            <div class="jobSection">
              <div class="jobTitle">Emergency Medical Technician</div>
              <div class="jobTime">Rural/Metro Ambulance - Omaha, NE</div>
              <div class="jobInfo">
                <div class="jobLineItem">
                  Provide advanced care to patients in an emergency setting.
                  Operate and maintain an Advanced Life Support providing
                  ambulance.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="experienceSection">
          <h2>Education</h2>
          <mat-divider></mat-divider>
          <div class="experenceList">
            <div class="jobSection">
              <div class="jobTitle">MBA, Master of Business Administration</div>
              <div class="jobTime">Bellevue University - Bellevue, NE</div>
            </div>

            <div class="jobSection">
              <div class="jobTitle">B.S., Management</div>
              <div class="jobTime">Bellevue University - Bellevue, NE</div>
            </div>

            <div class="jobSection">
              <div class="jobTitle">EMT/Paramedic Program</div>
              <div class="jobTime">Nebraska Methodist College - Omaha, NE</div>
            </div>
          </div>
        </div>

        <div class="experienceSection">
          <h2>Certification</h2>
          <mat-divider></mat-divider>
          <div class="experenceList">
            <div class="jobSection">
              <div class="jobTitle">Series 3 Certified (Futures)</div>
              <div class="jobTime">
                Financial Industry Regulatory Authority (FINRA)
              </div>
            </div>

            <div class="jobSection">
              <div class="jobTitle">Series 7 Certified</div>
              <div class="jobTime">
                Financial Industry Regulatory Authority (FINRA)
              </div>
            </div>

            <div class="jobSection">
              <div class="jobTitle">Series 24 Certified</div>
              <div class="jobTime">
                Financial Industry Regulatory Authority (FINRA)
              </div>
            </div>
            <div class="jobSection">
              <div class="jobTitle">Series 34 Certified (Forex)</div>
              <div class="jobTime">
                Financial Industry Regulatory Authority (FINRA)
              </div>
            </div>
            <div class="jobSection">
              <div class="jobTitle">Series 63 Certified</div>
              <div class="jobTime">
                Financial Industry Regulatory Authority (FINRA)
              </div>
            </div>
            <div class="jobSection">
              <div class="jobTitle">Six Sigma Green Belt</div>
              <div class="jobTime">The Nebraska Medical Center</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div fxFlex="20">
      <div class="rightPanel" *ngIf="showSide">
        <div class="imgContainer">
          <img
            class="avatarImg"
            src="../../../assets/jcupdated.jpg"
            alt="Pretty Jesse"
          />
        </div>

        <div class="contactSection">
          <button mat-button color="primary" routerLink="/contact">
            Contact Me
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
